<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tw.gov.cdc.exposurenotifications">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />

        <activity android:name=".activity.WebViewActivity" />

        <activity
            android:name=".activity.IntroductionActivity"
            android:label="@string/menu_about" />
        <activity
            android:name=".activity.DailySummaryActivity"
            android:label="@string/menu_daily_summary" />
        <activity
            android:name=".activity.UploadActivity"
            android:label="@string/upload_title" />
        <activity
            android:name=".activity.RequestCodeActivity"
            android:label="@string/request_verification_code" />
        <activity
            android:name=".activity.CancelAlarmActivity"
            android:label="@string/menu_cancel_alert" />
        <activity
            android:name=".activity.ControlActivity"
            android:label="@string/menu_settings" />
        <activity
            android:name=".activity.BarcodeScanningActivity"
            android:label="@string/menu_barcode_scanning"
            android:launchMode="singleTask" />
        <activity
            android:name=".hcert.ui.HcertActivity"
            android:label="@string/hcert_full_name" />

        <receiver
            android:name=".nearby.ExposureNotificationBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.nearby.exposurenotification.EXPOSURE_CALLBACK">
            <intent-filter>
                <action android:name="com.google.android.gms.exposurenotification.ACTION_EXPOSURE_STATE_UPDATE" />
                <action android:name="com.google.android.gms.exposurenotification.ACTION_EXPOSURE_NOT_FOUND" />
                <action android:name="com.google.android.gms.exposurenotification.ACTION_SERVICE_STATE_UPDATED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".widget.AppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <service
            android:name=".tile.BarcodeTileService"
            android:icon="@drawable/icon_qrcode"
            android:label="@string/hcert_full_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />

    </application>

</manifest>